@{
  Layout = "_Layout";
}

@model SweetAndSavoryTreats.Models.Treat

<h1>Deleting Treat: @Model.Name</h1>
<h2>Are you sure you want to delete this treat?</h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
<p>@Html.ActionLink("View This Treat", "Details", new { id = Model.TreatId } )<br>
@Html.ActionLink("View Treats", "Index")<br>
@Html.ActionLink("Return to Home", "Index", "Home")</p>